
{% extends 'base2/basePage.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<style>
    .search{
        display: none;
    }
</style>
  



  


   
    
        <!-- partial -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>{{ form.errors }}</strong>
          </div>
          {% endif %}
          {% if student %}
         
            <div class="container">
          <div class="content">
            
            <form action="{% url 'core_app:addrForm' %}" method="POST" class="form-sample">
                  
                {% csrf_token %}
            <div class="row">
                <h3 class="card-title">Address Details</h3>
                {% for name in student %}
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Full Name</label>
                    <div class="col-sm-9">
                      <input type="text" name="fullName" class="form-control" value="{{name.fullName}}"   readonly/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email </label>
                    <div class="col-sm-9">
                      <input type="text" name="email" class="form-control" value="{{ name.email }}" readonly />
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Street *</label>
                    <div class="col-sm-9">
                      <input type="text" name="street" class="form-control"  placeholder="Street No"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Street 2</label>
                    <div class="col-sm-9">
                      <input type="text" name="street_two" class="form-control" placeholder="Street 2"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">City</label>
                    <div class="col-sm-9">
                      <input type="text" name="city" class="form-control" placeholder="City" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">State</label>
                    <div class="col-sm-9">
                      <input type="text" name="state" class="form-control" placeholder="State"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Postal code</label>
                    <div class="col-sm-9">
                      <input type="text" name="postal_code" class="form-control" placeholder="Postal Code"/>
                    </div>
                  </div>
                </div>
              
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Nationality</label>
                    <div class="col-sm-9">
                     
                      {{form.nationality}}
                    </div>
                  </div>
                </div>
                </div>
          
             
       <div class="modal-footer">
          <a href="{% url 'account:p_dashboard' %}" type="button" class="btn btn-dark">Cancel</a>
            <button type="submit" class="btn btn-danger">Save And Continue</button>
        </div>
            </form>
       </div>
   </div>
   {% endif %}
  
              



<!--end here-->

{%endblock %}

