{% extends 'base/base.html' %}
{% block content %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}


<style>
    .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  
}
.auth form .form-group .form-control {
    background: #fff;
    border-radius: 0;
    font-size: .9375rem;
    border: 1px solid #0c79e7;
}
.font-weight-light{
  margin-bottom: 50px;
}
</style>



 
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
       
          <div class="col-lg-10 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              
              <h3>Addmission Application Form</h3>
              <h6 class="font-weight-light">Student Information Details.</h6>
              
                <!--student.studentEmail for form url-->
                <form action="{% url 'core_app:student_detail' %}" method="post" enctype="multipart/form-data" novalidate>
                  {% csrf_token %}
                  
                  <div class="row w-100 mx-0">
                  {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                  {% endfor %}

                  {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                      {% for error in form.non_field_errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% for field in form.visible_fields %}
                    <div class="form-group mb-4  col-md-6">
                      {{ field.label_tag }}

                      {% if form.is_bound %}
                        {% if field.errors %}
                          {% render_field field class="form-control is-invalid" %}
                          {% for error in field.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                          {% endfor %}
                        {% else %}
                          {% render_field field class="form-control is-valid" %}
                        {% endif %}
                      {% else %}
                        {% render_field field class="form-control" %}
                      {% endif %}

                      {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                    </div>
                  {% endfor %}
                  </div>

                  <!--<button type="submit" class="btn btn-danger">Submit</button>-->

                  <div class="modal-footer">
                    <a href="{% url 'account:p_dashboard' %}" type="button" class="btn btn-dark">Cancel</a>
                      <button type="submit" class="btn btn-danger">Save And Continue</button>
                  </div>
                  
                </form>
                </div>
                              
            </div>
          </div>
        </div>
      </div>
  
  
            








  








  {% endblock %}




