
  {% extends 'base/base.html' %}
{% block content %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}


<style>
 .search{
    display: none;
 }
 .px-0 {
   
    margin-top: 30px;
}
h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: hsl(213, 91%, 36%);
  margin-top: 20px;
  transition: .5s ease-in-out;
  text-transform: capitalize;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #0c79e7;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-label {
    margin-bottom: 0.5rem;
    color: black;
    
}
.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}
.auth .auth-form-light select {
    color: black;
  
}
.font-weight-light{
  text-align: center;
  font-size: 16px;
}
</style>



 
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
       
          <div class="col-lg-10 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">

              <h3>{{uni}} - course details </h3>
              <h6 class="font-weight-light">Course Selection Form</h6>

            <div>
              {% if error %}
                {{form.errors}}
                 {% endif %}
            </div>
           
              <form action="{% url 'core_app:course_selected' %}" method="POST" class="pt-3">
                {% csrf_token %}

                <div class="row w-100 mx-0">
                <div class="mb-4 form-outline col-md-6">
                  <div class="form-label">University</div>
                  <input type="text" class="form-control form-control-lg" name="university" id="exampleInputEmail1" value="{{uni}}" placeholder="{{uni}}"  readonly>
                   </div>
                <div class="mb-4 form-outline col-md-6">
                  <label class="form-label">Course</label>
                  <input type="text" class="form-control form-control-lg" name="course_name" id="exampleInputEmail1"  value="{{course_info.courseName}}" placeholder="{{course_info.courseName}}"  readonly>
                  
                </div>
                <div class="mb-4 form-outline col-md-6">
                    <label class="form-label">Duration</label>
                    <input type="text" class="form-control form-control-lg" name="duration" id="exampleInputEmail1" value="{{course_info.duration}}" placeholder="{{course_info.duration}}"  readonly>
                    
                  </div>
                  <div class="mb-4 form-outline col-md-6">
                    <label class="form-label">Fees</label>
                    <input type="text" class="form-control form-control-lg" name="fees" id="exampleInputEmail1" value="{{course_info.fees}}" placeholder="{{course_info.fees}}"  readonly>
                    
                  </div>
                
                <div class="mb-4 form-outline col-md-6">
                  <label class="form-label">Course Type</label>
                  <input type="text" class="form-control form-control-lg" name="course_type" id="exampleInputEmail1" value="{{course_info.courseType}}" placeholder="{{course_info.courseType}}"  readonly>
                  
                </div>
              
                
                <div class="mb-4 form-outline col-md-6">
                  <label class="form-label">Select Course Intake</label>
                   <select name="course_intake" id="exampleInputEmail1" class="form-control" style="border: 1px solid #0c79e7;" >
                    {% for intake in uni.university_course_date.all %}
                      <option  value="{{intake.winter_ApplicationDate}}">{{intake.winter_ApplicationDate}} <span>Intake</span></option>
                      <option value="{{intake.summer_openApplicationDate}}">{{intake.summer_openApplicationDate}} <span>Intake</span></option>
                      {% endfor %}
                    </select>
                  
                </div>
                   <div class="mb-4 form-outline col-md-6">
                   <label class="form-label">Country</label>
                   <input type="text" class="form-control form-control-lg" name="country" id="exampleInputEmail1" value="{{uni.country.name}}" placeholder="{{uni.country.name}}" readonly>
                
                  </div>
                  <div class="mb-4 form-outline col-md-6">
                    <label class="form-label">Student Email</label>
                    <input type="text" class="form-control form-control-lg" name="studentEmail" id="exampleInputEmail1" value="" placeholder="Student Email" >
                 
                   </div>
                
                </div>
                 

               
               
                
                 
                  <div class="modal-footer">
                    <a href="{% url 'core_app:courses' %}" type="button" class="btn btn-dark">Cancel</a>
                      <button type="submit" class="btn btn-danger">Save And Continue</button>
                    
                  </div>
               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  
   

  {% endblock %}








