
{% extends 'base2/basePage.html' %}
{% block content %}
{% load static %}

{% load widget_tweaks %}


<style>
    .search{
        display: none;
    }
    .font-weight-light{
      margin-bottom: 50px;
    }
</style>
  
   

 
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content d-flex align-items-center auth px-0">
     
        <div class="col-lg-10 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">

            <h3>Emergency Contact </h3>
            <h6 class="font-weight-light">student's alternative contact.</h6>

        
           {% if student %}
            {% if form.errors %}
                 <div class="alert alert-danger">
                    <strong>{{ form.errors }}</strong>
                  </div>
              {% endif %}
      
            <form action="{% url 'core_app:emergContact' %}" method="POST" class="form-sample">
                  
                {% csrf_token %}
                
                <div class="row">
                    
                    {% for name in student %}
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Student Full Name</label>
                        <div class="col-sm-9">
                          <input type="text" name="fullName" class="form-control" value="{{name.fullName}}"   readonly/>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Student Email </label>
                        <div class="col-sm-9">
                          <input type="email" name="email" class="form-control" value="{{ name.email }}" readonly />
                        </div>
                      </div>
                    </div>
                    {% endfor %}

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Relatives First Name</label>
                        <div class="col-sm-9">
                          <input type="text" name="firstName" class="form-control" placeholder="First Name"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                          <input type="text" name="lastName" class="form-control" placeholder="Last Name"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Relationship *</label>
                        <div class="col-sm-9">
                          <input type="text" name="relationship" class="form-control" placeholder="Relationship" />
                        </div>
                      </div>
                    </div>
                  
                   
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Phone</label>
                        <div class="col-sm-9">
                          <input type="text" name="phone" class="form-control" placeholder="Phone number" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                          <input type="text" name="relaticeEmail" class="form-control" placeholder="Email" />
                        </div>
                      </div>
                    </div>
                    </div>
               <div class="modal-footer">
                    <a href="{% url 'account:p_dashboard' %}" type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-danger">Save And Continue</button>
                </div>
            </div>

            </div>
            {% endif %}
            

{% endblock %}