
{% extends 'base2/basePage.html' %}
{% block content %}
{% load static %}
{% include 'base/base.html' %}
{% load widget_tweaks %}


<style>
    .search{
        display: none;
    }
</style>
  
   
    
        <!-- partial -->
        <div class="alert alert-danger">
            <strong>
              {% for mess in messages %}
                {{ mess }}
                {% endfor %}
              </strong>
          </div>

        <div class="alert alert-danger">
            <strong>
      
          {{ form.errors }}
       
        </strong>
          </div>
      
            <div class="container">
          <div class="content-wrapper">
            <form action="{% url 'core_app:student_info' %}" method="POST" class="form-sample">
                  
                {% csrf_token %}
            <div class="row">
                <h4 class="card-title">Passport Details</h4>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Passport Number</label>
                    <div class="col-sm-9">
                      <input type="text" name="passport_num" class="form-control" placeholder="Passport number" />
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Place of Birth</label>
                    <div class="col-sm-9">
                      <input type="text" name="place_of_birth" class="form-control" placeholder="Place of birth" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Place of issue</label>
                    <div class="col-sm-9">
                      <input type="text" name="place_of_issue" class="form-control" placeholder="Place of issue" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date Of issue</label>
                    <div class="col-sm-9">
                      <input type="date" name="date_issued" class="form-control"  placeholder="Date of issue"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date Of expiry</label>
                    <div class="col-sm-9">
                      <input type="date" name="expiry_date" class="form-control" />
                    </div>
                  </div>
                </div>
              
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Nationality</label>
                    <div class="col-sm-9">
                      {{form.nationality}}
                    
                    </div>
                  </div>
                </div>
               
               
                <div class="radio-check">
                  <fieldset style="display: flex;">
                    <p>Has the student been  previously had visa rejections or cancellations (from any country)?:
                      * 
                    <div>
                      &nbsp;
                      <input type="radio" id="huey" name="visa_denial" value="Yes"
                             checked>
                      <label for="yes">Yes</label>
                    </div>
                
                    <div>
                      &nbsp;
                      <input type="radio" id="dewey" name="visa_denial" value="No">
                      <label for="no">No</label>
                    </div>
                  </p>
      
                </fieldset>
               
                </div>
                </div>



       <div class="modal-footer">
          <a href="{% url 'account:p_dashboard' %}" type="button" class="btn btn-dark">Cancel</a>
            <button type="submit" class="btn btn-danger">Save And Continue</button>
        </div>
            </form>
       </div>
            </div>
                  
              



<!--end here-->



{% endblock %}
