
{% extends 'base2/basePage.html' %}
{% block content %}
{% load static %}

{% load widget_tweaks %}


<style>
    .search{
        display: none;
    }
input::placeholder{

font-size: 18px;
color: hsl(213, 91%, 36%) !important;

font-weight: 700;
text-transform: capitalize;
transition: 5s;
font-family: 'Times New Roman', Times, serif;
}
fieldset p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    color:#555;
  }
</style>
  
   
    
        <!-- partial -->
        {% if messages %}
        <div class="alert alert-danger">
            <strong>
              {% for mess in messages %}
                {{ mess }}
                {% endfor %}
              </strong>
          </div>
          {% endif %}

          {% if form2.errors %}
        <div class="alert alert-danger">
            <strong>{{ form2.errors }}</strong>
          </div>
          {% endif %}
      
            <div class="container">
          <div class="content">
            <form action="{% url 'core_app:passportReg' %}" method="POST" class="form-sample" enctype="multipart/form-data">
                  
                {% csrf_token %}
            <div class="row">
                <h3 class="card-title">Passport Details</h3>
                 {% for stud in student %}
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Student Name</label>
                    <div class="col-sm-9">
                      <input type="text" name="fullName" value="{{stud.firstName}} {{stud.middleName}} {{stud.lastName}}" class="form-control" placeholder="{{stud.firstName}} {{stud.middleName}} {{stud.lastName}}"  readonly/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                      <input type="text" name="email" value="{{stud.email}}" class="form-control" placeholder="{{stud.email}}"  readonly/>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Passport Number</label>
                    <div class="col-sm-9">
                      <input type="text" name="passport_num" class="form-control" placeholder="Passport number" />
                    </div>
                  </div>
                </div>
              
             

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Place of Birth</label>
                    <div class="col-sm-9">
                      <input type="text" name="place_of_birth" class="form-control" placeholder="Place of birth" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Place of issue</label>
                    <div class="col-sm-9">
                      <input type="text" name="place_of_issue" class="form-control" placeholder="Place of issue" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date Of issue</label>
                    <div class="col-sm-9">
                      <input type="date" name="date_issued" class="form-control"  placeholder="Date of issue"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date Of expiry</label>
                    <div class="col-sm-9">
                      <input type="date" name="expiry_date" class="form-control" />
                    </div>
                  </div>
                </div>
              
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Nationality</label>
                    <div class="col-sm-9">
                      {{form.nationality}}
                    
                    </div>
                  </div>
                </div>
               
               
                <div class="radio-check">
                  <fieldset style="display: flex;">
                    <p>Has the student been  previously had visa rejections or cancellations (from any country)?:
                      * 
                    <div>
                      &nbsp;
                      <input type="radio" id="huey"  name="visa_denial" value="Yes">
                      <label for="yes">Yes</label>
                    </div>
                
                    <div>
                      &nbsp;
                      <input type="radio" id="dewey" name="visa_denial" value="No" checked>
                      <label for="no">No</label>
                    </div>
                  </p>
      
                </fieldset>
               
                </div>
                </div>



       <div class="modal-footer">
          <a href="{% url 'account:p_dashboard' %}" type="button" class="btn btn-dark">Cancel</a>
            <button type="submit" class="btn btn-danger">Save And Continue</button>
        </div>
            </form>
       </div>
            </div>
                  
              



<!--end here-->



{% endblock %}
