
{% extends 'base2/basePage.html' %}
{% block content %}
{% load static %}

{% load widget_tweaks %}


<style>
    .search{
        display: none;
    }
    fieldset p{
      font-size: 16px;
      font-family: 'Times New Roman', Times, serif;
      
    }
</style>
      
            <div class="container">
          <div class="content">
         {% if form.errors %}
        <div class="alert alert-danger">
            <strong>{{ form.errors }} </strong>
          </div>
          {% endif %}
          <h3 class="card-title">Work Experience </h3>
            <form action="{% url 'core_app:experience' %}" method="POST" class="form-sample">
                  
                {% csrf_token %}
                
                <div class="row">
                   
                    {% for name in student %}
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Student Full Name</label>
                        <div class="col-sm-9">
                          <input type="text" name="fullName" class="form-control" value="{{name.fullName}}"   readonly/>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Student Email </label>
                        <div class="col-sm-9">
                          <input type="email" name="email" class="form-control" value="{{ name.email }}" readonly />
                        </div>
                      </div>
                    </div>
                    {% endfor %}

                    <div class="col-md-6">
                           
                <div class="radio-check">
                  <fieldset style="display: flex;">
                    <p>Has the student worked before?
                      * 
                    <div>
                      &nbsp;
                      <input type="radio" id="huey" name="worked_before" value="Yes"
                             checked>
                      <label for="yes">Yes</label>
                    </div>
                
                    <div>
                      &nbsp;
                      <input type="radio" id="dewey" name="worked_before" value="No">
                      <label for="no">No</label>
                    </div>
                  </p>
      
                </fieldset>
               
                </div>
                      </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Professional Membership</label>
                        <div class="col-sm-9">
                          <input type="text" name="membership" class="form-control" placeholder="Professional Membership"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Employer</label>
                        <div class="col-sm-9">
                          <input type="text" name="employer" class="form-control" placeholder="Last Name"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Start Date *</label>
                        <div class="col-sm-9">
                          <input type="date" name="startDate" class="form-control"  />
                        </div>
                      </div>
                    </div>
                  
                   
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">End Date</label>
                        <div class="col-sm-9">
                          <input type="date" name="endDate" class="form-control" />
                        </div>
                      </div>
                    </div>
                    
                    </div>
               <div class="modal-footer">
                    <a href="{% url 'account:p_dashboard' %}" type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-danger">Save And Continue</button>
                </div>
            </form>
            </div>
            </div>


{% endblock %}            