*::before,
*::after {
  box-sizing: border-box;
}
  body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #606a84;
    text-align: left;
    background-color: #f8f9fe;
}

  .search .row{
    background: gainsboro;
    height: auto;
    transition: all .5s;
  }
  .search .card{
    width: 100;
    padding: 10px;
  }
  .search input[type='text']{
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: #606a84;
    /*border: 2px solid #606760;*/
    border-radius: 20px;
    text-transform: capitalize;
    transition: 5s;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid darkgray;

  }
  .search input::placeholder{
    color: #606a84;
    transition: all .5s;
  }
 
  .search .btn{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
  }
  .card  .card-by select option.opt{
    position: relative;
    width: 90%;
    background-color: blue
  }


select:hover{
  background-color: #606a84;

}
.col-md-12{
  padding: 10px;
}
.card-body{
  border: 2px solid gainsboro;
}

.col-md-6{
  width: 50%;
}
select{
  width: 500px;
  height: 40px;
  font-size: 18px;
  justify-content: center;
  text-align: left;
  transition: 5s;
  border-radius: 10px;
  margin: 20px;
}
label.opt{
  font-size: 20px;
 
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
  margin-left: 30px;
}
ul{
  display: inline-flex;

}
ul li{
  list-style: none;
  font-size: 20px;
  margin: 30px;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  color: #000;
  font-weight: 600;

}
ul li:hover{
  text-decoration: underline;
  color: #606a84;

}
.col-md-6 .card ul li select{
  width: 200px;
  height: 30px;
  font-size: 18px;
  justify-content: center;
  text-align: left;
  transition: 5s;
  border-radius: 10px;
  margin: 10px;
}



.col-md-6 {
  transition: all 5s;
}
.col-md-6 .form-group h3{
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  /*transition: all 5s;*/
  font-weight: 700;
}
.col-md-4 .form-group h5, h3{
  font-size: 15px;
  text-transform: capitalize;
}
.col-md-3 h3 a{
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 50px;
}
.col-md-3 h3 a:hover{
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  background-color: #fff;
 border: 2px solid #606a84;

color: black !important;

}




.course-program{
  
}

/*courses */
  .flex-container {
display: flex;
flex-wrap: wrap;
margin-top: 20px;
}

.card-image{
  width: 250px;
  height: 180px;
  margin-left: 5px;
  
}

.card-image img{
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
 /* border-radius: 50%;*/
}

.course-information{
  margin-left: 10px;
}
.content-wrapper {
  background: #f2edf3;
  padding: 2.75rem 0.25rem;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.course-address h2{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;

  color: #0076AD;
  margin-left: 10px;
}
.course-information h3{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;

}
.course-information span{
  color: green;
  
}
.course-require h4{
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  color: #0076AD; 
  
}
.right{
text-align: center;
  font-size: 18px;
  
}


.btn-groupy{
  margin-top: 5px;
  margin-bottom: 70px;
  margin-left: auto; 
  margin-right: 20;
  right: -50px; 
}


.contar{
  margin-left: 30px;
}

/*pagination* uniSearch.html*/

.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color:#3e4b5b; /*#f96868;*/
    color: white;
    border: 1px solid #3e4b5b;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}





  .university_names .col-md-6{
    border: 2px solid b;
    transition: all 3s;
   
    
  }
  .university_names .col-md-6 .card {
    height: 130px;
    box-sizing: border-box;
    background: whitesmoke;
    margin: 2px;
    border: 2px solid hsl(213, 91%, 36%);
    font-weight: 700;
    /*border: 2px solid hwb(240 0% 0%);
    margin: 10px;*/
    
   
  }
  .card-content{
    width: 100%;
   

  }
  .imgBody{

    float: left;
    margin: 5px;
    width: 45%;
    height: 110px;
  }
  .imgBody img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #fafafa;
    box-sizing: border-box;
    object-fit: cover;
    
  }
  .card-text{
   
    text-align: center;
    margin: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
  }
  .card-text h4{
   
   text-align: center;
   margin: 5px;
   font-size: 18px;
   font-family: 'Times New Roman', Times, serif;
   text-transform: capitalize;
   color:   #3e4b5b; /*#f96868; #f96868;*/;
   color: hsl(213, 91%, 36%);;
   font-weight: 700;
 }
  #university_names {
    display: none;
  
  }
  #course-program #found{
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: brown; ;
    text-align: right;
  }
  #found span{
    color: brown;
  }


  .courses{
    margin-top: 30px;
  }
   .course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
  }

 .card-img  img{
  width: 100%;
  height: 130px;
 }


  .course-card  h3 {
    font-size: 20px;
    margin: 2px 0;
  
  }
  .course-card a .card-body h3 {
    font-size: 20px;
    margin: 10px 0;
    text-align: left;

    color: #606a84;
  }
  .course-card button:hover {
    background-color: #555;
  }

  .course-card {

 transition: all 0.5s ease-in-out;
}
.course-card:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transform: translateY(-5px);
}
a{
text-decoration: none;
}
.course-card a .card-body h2 {
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
    color: #606a84;
  }   

a .card-body .card-img h2 {
    font-size: 18px;
    margin: 1px 0;
    text-align: left;
    color: #606a84;
   
   
  }
a .card-body .card-img h2 span {
    
    color: #0076AD;
    color: hsl(213, 91%, 36%);
   
  }
h6{
color: #0076AD;
color: hsl(213, 91%, 36%);
}

 input[type='placeholder']{
 

  font-size: 18px;
  color: hsl(213, 91%, 36%);
  /*border: 2px solid #606760;*/
  
  text-transform: capitalize;
  transition: 5s;
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid darkgray;

}
input::placeholder{

  font-size: 18px;
  color: hsl(213, 91%, 36%) !important;
  
  font-weight: 700;
  text-transform: capitalize;
  transition: 5s;
  font-family: 'Times New Roman', Times, serif;

  }
 

  h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: hsl(213, 91%, 36%);
    margin-top: 20px;
    transition: .5s ease-in-out;
    text-transform: capitalize;
  }
  .form-control {
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #0c79e7;
      border-radius: 0.25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .form-label {
      margin-bottom: 0.5rem;
      color: black;
      
  }
  .form-control:disabled, .form-control[readonly] {
      background-color: #fff;
      opacity: 1;
  }
  .auth .auth-form-light select {
      color: black;
    
  }
  .font-weight-light{
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .alert, .alert-danger{
    color: hsl(213, 91%, 36%);
    text-align: center;
  }